header .navbar-default{
    background-color: transparent;
    border-color: transparent;
}
header{
    position: relative;
    z-index: 100;
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    text-align: center;
}

.visible{
    opacity: 1;
    display: table; 
}

.content{
    display: table-cell;
    vertical-align: middle;
    
}
#hero h1{
    margin-bottom: 120px;
}

/************juego********************/

#gato td{
    border: 1px solid black;
    font-size: 30px;
    height: 1em;
    padding: 1em;
    width: 1em;
}
#gato table{
   margin: 0 auto;
    
}
.tabla{
    text-align:  -webkit-center;
}